body {
	max-width: 750px;
	margin: 0 auto;
	line-height: 1;
	font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
#app {
	width: 6.4rem;
	margin: 0 auto;
}
.picbox {
	width: 1.46rem;
	height: 1.47rem;
	margin-right: 0.3rem;
	overflow: hidden;
}
.img_children {
	width: auto;
	height: 1.47rem;
	margin-left: -0.32rem;
}

                /*header*/
#header {
	background: #000;
	width: 6.4rem;
	height: 1.78rem;
	display: flex;
	align-items: center;
}
.header_logo_box {
	line-height: 1.78rem;
}
.header_logo {
	width: 0.71rem;
	height: 0.71rem;
	margin-left: 0.35rem;
	vertical-align: middle;
}
.header_text {
	width: 4.7rem;
	margin-left: 0.3rem;
	position: relative;
}
.header_text_box {
	width: 4.6rem;
}
.title {
	color: #fff;
	font-size: 0.32rem;
	line-height: 0.54rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.title_msg {
	color: #808080;
	font-size: 0.22rem;
	line-height: 0.32rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


          /* publicity*/
.publicity {
	width: 6.4rem;
	height: 0.7rem;
	display: flex;
	align-items: center;
	padding-left: 0.3rem;
	border-bottom: 1px solid #e4e4e4;
	font-size: 0.24rem;
	color: #999999;
	background: #f1f1f1;
	box-sizing: border-box;
}

       /*正文第一栏*/
.main {
	width: 6.4rem;
	height: 1.75rem;
	border-bottom: 1px solid #ebebeb;
	display: flex;
	align-items: center;
	position: relative;
}
.main_box {
	width: 6.4rem;
	height: 1.47rem;
	box-sizing: border-box;
	padding-left: 0.14rem;
}
.main_text {
	height: 1.47rem;
	position: relative;
}
.text_box {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	width: 3.7rem;
}
.text_title {
	font-size: 0.34rem;
	line-height: 0.42rem;
	font-weight: 500;
	color: #333333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.spend {
	width: 3.7rem;
	height: 0.25rem;
	line-height: 0.25rem;
	margin-bottom: 0.13rem;
	margin-top:0.13rem;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
}
.yesterday {
	padding:0 0.03rem;
	box-sizing: border-box;
	height: 0.25rem;
	width: 0.4rem;
	color: #f69917;
	border-radius: 0.03rem;
	font-size: 0.16rem;
	background: #fff2e0;
	margin-right: 0.08rem;
	text-align: center;
}
.text_spend {
	color: #999999;
	font-size:0.22rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.text_money {
	font-size: 0.22rem;
	color: #14ba89;
}
.remain {
	width: 3.7rem;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
}
.remain_characters1 {
	line-height: 0.4rem;
}
.remain_characters {
	color: #999999;
	font-size:0.22rem;
	text-overflow: ellipsis;
	overflow: hidden;
}
.remain_money {
	color: #9f9f9f;
	font-size: 0.22rem;
}
.arrow {
	width: 0.11rem;
	height: 0.23rem;
	position: relative;
	right: 0.32rem;
	z-index: 999;
}


    /*底部区域*/
.footer {
	width: 6.4rem;
	height: 0.85rem;
	background: #f1f1f1;
	position: relative;
}
.footer_main {
	position: absolute;
	font-size: 0.24rem;
	color: #bcbcbc;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	line-height: 0.37rem;
}
.footer_logo {
	width: 1.28rem;
	height: 0.37rem;
	margin-left: 0.14rem;
}
